# Dependency directories
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env*

# Git and OS
.git
.gitignore
.DS_Store

# Docker related
.dockerignore
Dockerfile*

# Linting and formatting
.prettierrc
eslint.config.js

# Scripts
check-and-fix.bat
check-and-fix.sh
