PORT
MONGO_URI
JWT_TOKEN
JWT_EXPIRES_IN
NODE_ENV
COOKIE_NAME
COOKIE_MAX_AGE
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASS
SMTP_NAME
ALLOWED_ORIGINS
OTP_LENGTH